@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: aquamarine;
  --secondary-color: aqua;
  --text-color: black;
  --background-color: rgb(242, 235, 235);
  --hover-color: red;
  --tertialy-color: white;
  --inline-color: #868383;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --background: rgba(0, 0, 0, 0.4);
  --here-detais: cornflowerblue;
  --overlay: rgb(174, 170, 170);
  --overlay-backgoud:#1c1c1c;
  --box:rgba(34, 33, 33, 0.9);
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--background-color);
  width: 100%;
}
.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--primary-color);
  z-index: 45678;
}
@media screen and (max-width: 50em) {
  .nav-bar {
    flex-direction: column;
    gap: 1rem;
  }
}

.logo {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.items {
  list-style: none;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width = 35em) {
  .items {
    justify-content: center;
  }
}

.navlink {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
  transition: color 0.5s;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 30.43em) {
  .item-link {
    flex-direction: column;
    gap: 1rem;
  }
}
.navlink:hover {
  color: var(--hover-color);
}

.hero {
  height: 56.6rem;
}
.hero {
  background-image: url(assets/one\ bedroom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-details {
  gap: 30px;
  display: flex;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 27.5em;
  padding-bottom: 6em;
  height: 56.6rem;
  color: var(--tertialy-color);
  background-color: var(--background);
}
.Hero-header {
  font-size: 70px;
}
.learn-more {
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 30px;
  margin-top: 100px;
}
.learn-more a {
  padding: 30px;
}
.hero-details a:hover {
  background-color: var(--primary-color);
  color: var(--here-detais);
}

.services {
  border: 3px solid var(--hover-color);
  height: 50em;
}
.heading1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 0.9em;
  padding-bottom: 1em;
  text-transform: capitalize;
}

.services-room {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
}
.room-section {
  margin-bottom: 5rem;
}

.room-container {
  padding-inline: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-block: 2rem;
}

.room-card {
  width: 35rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  overflow: hidden;
}

.room-image {
  width: 100%;
  height: 25rem;
}

.room-card-details {
  padding: 1rem;
}
.room-card-tittle {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
.room-card-content {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.room-action {
  display: flex;
  justify-content: space-between;
}

.room-action-cta {
  border: none;
  outline: none;
  color: var(--text-color);
  background-color: var(--secondary-color);
  text-transform: capitalize;
  padding: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.room-price {
  text-transform: uppercase;
  font-size: 2.4rem;
  align-items: center;
}

.more-rooms {
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 1.5rem 2rem;
  color: var(--text-color);
  border-radius: 100px;
  text-transform: capitalize;
  display: block;
  width: max-content;
  margin: 1rem auto;
}

.wrapper {
  padding: 10px 10%;
}
#card-area {
  padding: 50px 0;
}
.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  align-items: center;
}
.box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px var(--box);
}
.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.overlay {
  width: 100%;
  height: 0;
  background: linear-gradient(transparent, var(--overlay-backgoud) 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.overlay h3 {
  color: var(--overlay);
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.box:hover img {
  transform: scale(1.1);
}
.box:hover .overlay {
  height: 100%;
}
.para {
  color: var(--overlay);
  padding-bottom: 6em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}


.video-container {
  flex: 1;
  margin-right: 20px;
}

.video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow);
}

.text-container {
  flex: 1;
  font-size: 16px;
  color: var(--inline-color);
  background-color: var(--tertialy-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow);
}

@media screen and (max-width: 61.5em) {
  .container{
    flex-direction: column;
  }

  .video-container{
    width: 97%;
  }

  .text-container{
    width: 97%;
    margin-top: 3rem;
  }

}



.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  padding: 20px 0;
}

.footer-form,
.footer-contacts {
  flex: 1;
  padding: 0 20px;
}

.footer-form h3,
.footer-contacts h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background-color: var(--tertialy-color);
  color: var(--inline-color);
}

.footer-form button {
  padding: 10px 20px;
  background-color: var(--inline-color);
  color: var(--tertialy-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-form button:hover {
  background-color: var(--tertialy-color);
  color: var(--text-color);
  transition: .5s;
}
.footer-contacts {
  text-align: center;
  padding-top: 13em;
}

.footer-contacts ul {
  list-style-type: none;
  padding: 0;
}

.footer-contacts ul li {
  margin-bottom: 10px;
}

.footer-contacts ul.social-links {
  display: flex;
  gap: 10px;
}

.footer-contacts ul.social-links li a {
  color: var(--tertialy-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--inline-color);
}

.footer-contacts ul.social-links li a:hover {
  background-color: var(--tertialy-color);
  color: var(--text-color);
  transition: 0.5s;
}


@media screen and(max-width: 47.06em) {
  .footer-container{
    flex-direction: column;
  }
  
}

.footer-bottom {
  background-color: var(--inline-color);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p {
  margin-bottom: 0%;
  font-size: 14px;
  padding: 2rem 2rem;
}
.social-links {
  align-items: center;
  padding-left: 5px;
  margin-left: 190px;
}
